* {
  font-size: 14px;
  text-decoration: none;
}

.body-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-content {
  max-width: 767px;
  width: 80%;
  min-width: 300px;
}

.header-heyU {
  width: 100%;
  height: 350px;
  padding-bottom: 50px;
  background: url("../img/rectangle-3.svg") center center no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-main {
  margin-top: 20px;
  max-width: 90%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-main .header-logo {
  width: 100%;
}

.header-main .header-nav {
  background: url(../img/mobile-menu.png) center center no-repeat;
  background-size: cover;
  max-width: 50px;
  width: 50px;
  height: 50px;
  filter: invert(1);
}

.header-main .nav-mobile {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-main .nav-mobile a {
  border-radius: 10px;
  text-decoration: none;
  color: white;
  display: none;
  padding: 5px;
  background: black;
  height: 50px;
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.header-main .nav-mobile:hover a {
  background: black;
  display: block;
  position: relative;
  left: -30px;
  top: 50px;
  width: 100px;
  height: 15px;
}

.header-app {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.header-app .header-download {
  margin-top: 20px;
  color: white;
  text-align: center;
}

.header-app .header-download h2 {
  font-size: 45px;
}

.header-app .header-download p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.17;
}

.header-app .header-download p span {
  font-weight: bold;
}

.header-app .header-download a {
  margin-top: 40px;
  background-color: white;
  padding: 20px 50px 20px 50px;
  border-radius: 30px;
  display: inline-block;
}

.header-app .header-download a span {
  background-color: red;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header-app img {
  display: none;
}

.content-block {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
}

.content-block h3 {
  max-width: 300px;
  font-size: 30px;
  font-weight: 900;
  color: #363636;
  margin-bottom: 20px;
}

.content-block .red-dot {
  color: red;
  font-size: 30px;
}

.content-block p {
  max-width: 300px;
}

.content-block .img-block {
  display: none;
}

.horizontal-line {
  margin-top: 8%;
  border-top: 2px solid #e0e0e0;
  width: 100%;
}

.blog {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 800px;
}

.blog h3 {
  font-size: 30px;
  font-weight: 900;
  color: #363636;
}

.blog .red-dot {
  color: red;
  font-size: 30px;
}

.blog .message-row {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 20px;
}

.blog .message-row .block {
  max-width: 350px;
  height: 10%;
  border: 1px solid whitesmoke;
  background-color: white;
}

.blog .message-row .block p {
  margin: 30px 56px 30px 30px;
  color: dimgray;
  line-height: 1.5;
}

.blog .message-row .block h2 {
  margin-left: 30px;
  height: 20px;
  background-image: linear-gradient(to top, #eb402c, #d90647), linear-gradient(to bottom, #363636, #363636);
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.blog .img-row {
  display: none;
}

.about-app {
  margin-top: 100px;
  width: 100%;
  height: 517px;
  background-image: linear-gradient(to top, #eb402c, #d90647);
  display: flex;
  justify-content: center;
}

.about-app-block {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-app-block ul {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.about-app-block li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 180px;
  max-width: 80%;
}

.about-app-block li h3 {
  color: white;
  font-size: 20px;
}

.about-app-block li p {
  color: rgba(255, 255, 255, 0.6);
}

.about-app-block li object {
  margin: -2.5% 10px 0 10px;
  width: 48px;
  height: 48px;
  background-size: cover;
}

.about-app-block .img-login {
  display: none;
}

.about-app-block .right-align {
  text-align: right;
}

.about-app-block .left-align {
  text-align: left;
}

.subscribe {
  height: 250px;
  margin-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.subscribe h3 {
  font-size: 30px;
  font-weight: 900;
  color: #363636;
}

.subscribe .red-dot {
  color: red;
  font-size: 30px;
}

.subscribe p {
  color: dimgray;
  line-height: 1.5;
}

.subscribe form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subscribe form .subscribe-input {
  width: 200px;
  height: 50px;
  padding-left: 80px;
  margin-bottom: 10px;
  border-radius: 25px;
  border: none;
  color: dimgrey;
  background-color: beige;
}

.subscribe form .subscribe-button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  border: none;
  color: white;
  background-image: linear-gradient(to top, orangered, red);
  box-shadow: 5px 5px 10px 0 rgba(103, 7, 21, 0.5);
}

.download {
  height: 450px;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.download h3 {
  font-size: 30px;
  font-weight: 900;
  color: #363636;
}

.download .red-dot {
  color: red;
  font-size: 30px;
}

.download p {
  color: dimgray;
  line-height: 1.5;
}

footer {
  margin: 0 auto;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

footer nav {
  width: 340px;
  display: flex;
  justify-content: space-between;
}

footer nav a {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: dimgray;
}

footer nav a:hover {
  cursor: pointer;
  color: darkgray;
}

footer nav a:active {
  color: orangered;
}

footer select {
  text-transform: uppercase;
  color: #363636;
  width: 140px;
  height: 30px;
  border-radius: 25px;
  background-color: beige;
  padding-left: 30px;
}
