* {
  text-decoration: none;
  font-size: 12px;
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

.body-news {
  background: white;
  color: black;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.header-news {
  min-width: 1100px;
  width: 100%;
  height: 76px;
  background-image: linear-gradient(to left, #bf1e2e, #f1592a);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-logo {
  width: 189px;
  height: 70px;
}

.header-nav {
  text-transform: uppercase;
  min-width: 750px;
  margin: 0 50px 0 50px;
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: stretch;
  justify-content: space-around;
}

.header-nav a {
  text-decoration: none;
  color: white;
  line-height: 78px;
}

.header-nav a:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.lng-select {
  height: 20px;
  display: flex;
  align-self: center;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.slider img {
  margin-bottom: 32px;
  min-height: 600px;
  min-width: 1120px;
  max-width: 100%;
}

.slider ul {
  position: absolute;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slider li {
  display: inline;
}

.arrow-left {
  width: 35px;
  height: 35px;
  background: url(../img/system-slider/left-arrow-slider.png) center center;
  border: 0;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.arrow-left:hover {
  background: url(../img/system-slider/left-arrow-slider-active.png) center center;
}

.arrow-right {
  width: 35px;
  height: 35px;
  background: url(../img/system-slider/right-arrow-slider.png) center center;
  border: 0;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.arrow-right:hover {
  background: url(../img/system-slider/right-arrow-slider-active.png) center center;
}

.item-slider {
  margin: 2px;
  border: 0;
  width: 90px;
  height: 90px;
  background: url(../img/system-slider/slider-item.png) center center;
  cursor: pointer;
  overflow: hidden;
}

.item-slider:hover {
  background: url(../img/system-slider/slider-item-active.png) center center;
}

.item-slider span {
  display: block;
}

.item-slider-active {
  margin: 2px;
  border: 0;
  width: 90px;
  height: 90px;
  background: url(../img/system-slider/slider-item-active.png) center;
  cursor: pointer;
  overflow: hidden;
}

.item-slider-active span {
  display: block;
  color: beige;
}

.item-slider-block {
  margin: 2px;
  border: 0;
  height: 90px;
  width: 464px;
  text-align: left;
  background: url(../img/system-slider/slider-active-block.png) center;
  cursor: pointer;
}

.item-slider-block h2 {
  padding: 10px;
  font-size: 30px;
  color: beige;
}

.item-slider-block ul {
  margin: 0 0 0 10px;
}

.item-slider-block li {
  display: inline;
  color: beige;
  width: 280px;
  overflow: hidden;
}

.item-slider-block button {
  border: 0;
  background-color: gray;
  text-transform: uppercase;
  width: 114px;
  height: 25px;
  margin-left: 280px;
  overflow: hidden;
}

.item-slider-block button:hover {
  background-color: dimgray;
}

.day {
  color: grey;
  font-size: 17px;
}

.date {
  color: white;
  font-size: 44px;
}

.month {
  color: grey;
  font-size: 12px;
  text-decoration: overline;
}

.content {
  width: 1150px;
  display: flex;
  align-self: center;
  flex-direction: row;
}

.content .nav-news {
  min-width: 200px;
}

.content .nav-news li {
  margin: 18px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content .nav-news a {
  padding-left: 10px;
  text-decoration: none;
  color: dimgray;
  text-transform: uppercase;
  cursor: default;
}

.content .nav-news a:hover {
  color: orange;
}

.content .main-news {
  width: 700px;
  margin: 0 20px 0 20px;
  text-align: left;
}

.content .main-news h2 {
  color: orangered;
  font-size: 30px;
}

.content .main-news a {
  text-decoration: none;
  color: dimgray;
  font-size: 14px;
}

.content .main-news h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.content .main-news img {
  width: 100%;
  margin: 30px 0 10px 0;
}

.content .main-news ul {
  margin: 20px 0 10px 0;
  color: dimgray;
  border-top: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content .main-news ul img {
  margin: 2px 5px 0 0;
  float: left;
  width: 18px;
  height: 12px;
}

.content .section-news {
  width: 250px;
  text-align: left;
}

.content .section-news h2 {
  color: orangered;
  font-size: 30px;
  margin-bottom: 20px;
}

.content .section-news a {
  text-decoration: none;
  color: gray;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 40px;
}

.content .section-news img {
  border-radius: 5px;
  float: bottom;
}

.content .section-news p {
  padding: 10px;
}

.footer-news {
  min-width: 1100px;
  width: 100%;
  border-top: 2px solid orangered;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-news .up-arrow {
  position: relative;
  top: -62px;
  left: 1100px;
}

.footer-news .footer-nav {
  min-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
}

.footer-news .footer-nav nav {
  text-transform: uppercase;
}

.footer-news .footer-nav nav a {
  margin-left: 5px;
  text-decoration: none;
  color: gray;
}

.footer-news .footer-nav nav a:hover {
  cursor: pointer;
  color: orangered;
}

.footer-news .footer-nav ul {
  display: flex;
  flex-direction: row;
}

.footer-news .footer-nav ul li {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  background: gray 0 0 no-repeat;
  border-radius: 3px;
}

.footer-news .footer-nav ul li:hover {
  background-color: orangered;
}

.footer-news .footer-nav ul li img {
  margin-top: 2px;
  max-height: 16px;
  max-width: 16px;
}
